<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Exercise Tracker</title>
    <link href="/style.css" rel="stylesheet" type="text/css" />
    <link
      rel="shortcut icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>💪</text></svg>"
      type="image/x-icon"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto"
      rel="stylesheet"
      type="text/css"
    />
  </head>
  <body>
    {{#if error}}
      <div id="error">
        <span
          class="closebtn"
          onclick="this.parentElement.style.display='none';"
        >&times;</span>
        <h3>{{message}}</h3>
      </div>
    {{/if}}
    {{{body}}}
    {{#if username}}
      <div class="content">
        <h3>Name: {{username}}</h3>
        <p>Exercise Count: {{count}}</p>
        {{#if log}}
          <h4>Exercises</h4>
          <table>
            <tr>
              <th>Duration</th>
              <th>Date</th>
              <th>Description</th>
            </tr>
            {{#each log}}
              <tr>
                <td>{{duration}}</td>
                <td>{{date}}</td>
                <td>{{description}}</td>
              </tr>
            {{/each}}
          </table>
        {{/if}}
      </div>
    {{/if}}
  </body>
</html>